body {
  background-color: aliceblue;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 1.75rem;
}


tr {
  padding: 10px
  border 10px
}

table {
  margin: auto;

}

th {
  padding: 10px;
}

td {
  border: 2px solid black;
}